/* CSS Document */
*{ margin:0 auto; padding:0; }

body{ margin:0; padding:0; background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#3b3a39;}

#wrap{ margin:0 auto; width:800px;}

#main_head{ margin:0; width:790px; height:70px; padding:6px 0 0 10px; background:url(../images/header_bg.jpg) no-repeat; float:left;}

#logo_area{ margin:0; width:700px; height:70px; padding:0; float:left;}

#main_form_area{ margin:0; width:800px; padding:0; float:left;}

#main_form{ margin:0; width:800px; padding:0; float:left;}

#form_left_area{ margin:0; width:800px; padding:0; float:left;}

.form_div_1{ margin:0px 0 0px 0; width:798px; padding:0px 0 5px 0; background:#e5cece; float:left;}

.form_div_2{ margin:0px 0 0 0; width:798px; padding:0px 0 5px 0; background:#f2e8e8; float:left;}

.form_div_3{ margin:0px 0 0 0; width:798px; padding:0px 0 5px 0; background:#f2e8e8; float:left;}

.form_div_4{ margin:0px 0 0 0; width:798px; padding:0px 0 5px 0; background:#fff; float:left;}

#form_area{ 
margin:0; 
width:788px; 
padding:0 5px 20px 5px; 
float:left;
border:1px solid #015b81;
/*-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;*/
font-family:Arial, Helvetica, sans-serif; 
font-size:14px;
color:#3b3a39;
line-height:22px;
}

#form_area_2{ 
margin:0; 
width:798px; 
padding:0 0px 20px 0px; 
float:left;
border:1px solid #015b81;
/*-moz-border-radius: 20px;
-webkit-border-radius: 20px;
-khtml-border-radius: 20px;
border-radius: 20px;*/
font-family:Arial, Helvetica, sans-serif; 
font-size:14px;
color:#3b3a39;
line-height:22px;
}

.div_left{ margin:0; width:400px; padding:0; float:left;}

.div_right{ margin:0; width:388px; padding:0; float:left;}

.div_left_2{ margin:0; width:340px; padding:0; float:left;}

.div_right_2{ margin:0 0 0 10px; width:438px; padding:0; float:left;}

.table_text_left{ padding:0 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500; text-align:center;}

.table_text{ padding:0 15px 0 0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500; text-align:right;}

.table_text_2{ padding:0 0 0 15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500; text-align:left;}

.table_text_3{ padding:10px 0 0 15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500; text-align:left;}
.table_text_4{ padding:0 0 0 15px; font-family:Arial, Helvetica, sans-serif; line-height:15px; font-size:10px; color:#3b3a39; font-weight:500; text-align:left;}

.table_text_5{ padding:0 0 0 15px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; font-weight:500; text-align:left;}

.table_text_6{ padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500; text-align:left;}

.input_text{ padding:0; font-family:Arial, Helvetica, sans-serif;  font-size:12px; color:#3b3a39; font-weight:500;}

h1{ padding:15px 0 0 0px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#015b81; font-weight:700; text-align:left;}

h2{ padding:0 0 0 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:700; text-align:left;}

h3{ margin:0 0 10px 0; height:20px; background:#990000; padding:3px 0 3px 5px; font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#fff; font-weight:700; }


#manu{ margin:0; width:800px; height:40px; background:url(../images/menu_bg.jpg) repeat-x; padding:0; float:left;}

#manu ul{ list-style-type:none;}

#manu ul li{ float:left;}

#manu ul li a{ text-decoration:none; display:block; padding:5px 10px 8px 10px; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff9324; font-weight:500;}

#manu ul li a:hover, #manu ul .current{ text-decoration:none; display:block; padding:5px 10px 8px 10px; background:#ff9324; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; font-weight:500;}


#next_button_area{ margin:0; width:780px; height:40px; float:left;}

.talk_area{ margin:0; width:200px; height:110px; padding:0; float:left;}

.login_area{ margin:0 0 0 0; width:195px; height:145px; padding:4px 0 0 5px; background:url(../images/login_bg.png) no-repeat; float:left;}

.login_input_text{ width:150px; height:18px; background:url(../images/login_input_bg.jpg) no-repeat; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3b3a39; font-weight:500;}

.truck_area{ margin:10px 0 10px 0; width:200px; height:205px; padding:0; float:left;}

.dotted_text{ margin:0; width:422px; height:26px; background:url(../images/dotted_text_bg.jpg) no-repeat; border:0; font-family:Arial, Helvetica, sans-serif; font-size:14px;color:#3b3a39;line-height:22px;}


.page_1_left{ margin:0; width:480px; padding:0; float:left;}

.page_1_right{ margin:0; width:317px; padding:0; float:left;}

.table{ margin:0; width:100%; border:1px solid #000;;}

.td{ margin:0; padding:0 0 0 10px; border-right:1px solid #fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#fff; font-weight:500; text-align:left;}

.td_2{ margin:0; padding:0 0 0 10px; border-right:1px solid #fff; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; font-weight:500; text-align:left;}


